ul li{
    list-style-type: none;
}

h1{
    background: linear-gradient(to top, rgba(0, 255, 8, 0.3) 5% ,rgba(0, 255, 47, 0.1) 50%, rgba(255, 255, 255, 0));
}
input{
    background-color: rgba(127, 255, 212, 0.559);
    text-align: center;
}



