ul li{
    list-style-type: none;
}
h1{
    background: linear-gradient(to top, rgba(246, 255, 0, 0.605) 5% ,rgba(221, 255, 0, 0.325) 50%, rgba(229, 255, 0, 0.135));
    box-shadow: 0px 3px 5px rgba(239, 228, 5, 0.151);
}
p{
    background: linear-gradient(to top, rgba(0, 119, 255, 0.3) 5% ,rgba(0, 234, 255, 0.1) 50%, rgba(0, 179, 255, 0.135));
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.151);
}
input{
    background-color: rgba(127, 255, 212, 0.559);
    text-align: center;
}



